@font-face {
    font-family: 'Under Hiport';
    src: url(fonts/UnderHiport-nRqpM.ttf);
}
body {
    font-family: 'Under Hiport';
    padding: 2%;
    background-color: #3a165c;
    background-image: url(images/1341152.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


h1{
    text-align: center;
    color: #d4238b;
    filter: drop-shadow(2px 2px 1px rgb(53, 23, 185));
}
.login-form {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    border: solid;
    border-color: rgb(99, 110, 255);
    background-color: #ffd700;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-field {
    margin-bottom: 20px;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
    color: #d4238b;
   
    font-weight: bold;
}

.input-field input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #ac2ea5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #555;
}
.March{
    border: solid #ffd700;
    border-radius: 5px;
    margin-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.kafka{
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}